[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
pyperclip = "*"
pynput = "*"
pystray = "*"
pillow = "*"
pyaudio = "*"
webrtcvad = "*"
numpy = "*"
openai-whisper = "*"
google-genai = "*"
sounddevice = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
